
<div class="background-c row">
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag("meat.png", :size => "1310") %>
    </div>
    <div class="item">
        <%= image_tag("kids.png", :size => "1310") %>
    </div>
    <div class="item">
        <%= image_tag("market.png", :size => "1310") %>
    </div>
  </div>
</div>
</div>

<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <h1>Place order for food</h1>
        <h3>Add to cart from a variety of selection</h3>
        <%= link_to "Sign Up", signup_path, class: "btn btn-primary" %>
    </div>
</div>


