<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hello!</p>
    <p>Thank you for signing up for CrowdSchool. We're thrilled to have you!</p>
    <p><strong>CrowdSchool is made for creative teachers</strong> - people who want to use Project Based Learning to create fun and engaging learning experiences for their students.</p>
    <p>Need some tips on getting started? Check out our <a href="http://crowdschool.co/help">Help Page</a>.</p>
    <p>And lastly, we'd love your feedback - the good, the bad, and the ugly, we want it all. :)</p>
    <p>Reply to this email or write feedback@crowdschool.co</p>
    <p>We look forward to seeing your creative projects!</p>
    <p>-- Team CrowdSchool</p>
    <p>P.S. We try to keep our Twitter account <a href="https://twitter.com/crowdschool">@CrowdSchool</a> useful with fresh tips and news.</p>
  </body>
</html>