<footer class="foot text-center">
	<ul>
		<li>
			<a href="http://www.facebook.com/pages/Arko-Foods-International/153103828033328"><i class="fa fa-facebook-square"></i></a>
		</li>
		<li>
			<a href=""><i class="fa fa-twitter-square"></i></a>
		</li>
		<li>
			<a href="http://instagram.com/arkofoods/"><i class="fa fa-instagram"></i></a>
		</li>
	</ul>
	<p>&copy;Copyright 2015 | Arko Foods Market</p>
</footer>