<footer class="foot text-center">
	<ul>
		<li>
			<a href=""><i class="fa fa-facebook-square"></i></a>
		</li>
		<li>
			<a href=""><i class="fa fa-twitter-square"></i></a>
		</li>
		<li>
			<a href=""><i class="fa fa-instagram"></i></a>
		</li>
	</ul>
	<p>&copy;Copyright 2015 | Arko Foods Market</p>
</footer>