<!-- grabbing the instance variable from our carts controller -->
<% if @order_items.size == 0 %>
	<p class="text-center">There are no items in your order</p>
<% else %>
<% @order_items.each do |order_item| %>
	<%= render 'shared/cart_row', item: order_item.item, order_item: order_item %>
<% end %>
<% end %>