<div class="shopping-cart">
  <%= render "shared/shopping_cart" %>
</div>

<% if @order_items.size > 0 %>

	<%= form_tag("/orders/complete/", :method => "post") do %>
		<div class="row">
			<div class="col-md-offset-4 col-md-6">
				<%= text_field(:order, :date, class: "datepicker") %>
				<%= submit_tag("Place Order" , class: "btn btn-success") %>
			</div>
		</div>
	<% end %>

<% end %>

<script type="text/javascript">
  $(document).ready(function(){
    $('.datepicker').datepicker();
  });
</script>