/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

// body {
//     padding-top: 60px; Required padding for .navbar-fixed-top. Change if height of navigation changes.
// }

body {
    padding-top: 80px;
}

.arko_logo {
    padding: 7px;
}

.navbar-fixed-top .nav {
    padding: 15px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 0 15px;

}

footer {
    padding: 30px 0;
}

.carddiv {
    width:100px; 
    height:170px; 
    position:relative;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 100%;
    -webkit-transition: all 0.7s ease;
    transform-style: preserve-3d;
    transform-origin: 100%;
    transition: all 0.7s ease;
}

.carddiv:hover {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}
.frontofcard, .backofcard {
    width:300px; 
    height:270px; 
    position:absolute; 
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
.backofcard {
    padding-top: 100px;
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}


@media(min-width:768px) {
    body {
        padding-top: 80px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}

