/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker3
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import url('//fonts.googleapis.com/css?family=PT+Sans|Gentium+Basic|Anton|Oswald|Jura|Comfortaa');

html,
body {
	font-family: 'Comfortaa', cursive;
    background: image-url('white.jpg') no-repeat center;
    background-size: cover;
}

.col-lg-8 {
    padding-left: 0;
    padding-right: 0;
}

.carousel-caption {
    margin-bottom: 150px;
}

.arko_logo {
    padding: 7px;
}

/*********************************************

            Nav

************************************************/

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.7);
}

.navbar-nav li {
	margin-top: 10px;
}

.navbar-inverse .navbar-nav li a {
	color: white;
}

.navbar-inverse .navbar-nav {
	margin-left: 30px;
	font-family: 'PT Sans', sans-serif;
}



