// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .cart-show {
// 	background: image-url("wood.jpg");
// 	padding: 50px;
// }

.carts-page {
	margin-top: 120px;
}

.g-remove {
	color: red;
}

.shopping-cart {
	margin-top: 40px;
	overflow-y: auto;
	height: 450px;
}

.cart-info {
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 10px;
	background: #f4f5f0;
	div {
		margin: 5px 0;
		display: inline-block;
	}
}

.cart-selection div {
	margin-top: 5px;
}

.cart-selection {
	margin-top: 13px;
}

.summary {
	border: 1px dotted black;
	border-radius: 10px;
	margin-top: 120px;
}

.update-p {
	color: red;
}

@media(min-width:768px){

	.shopping-cart {
		margin-top: 30px;
	}

	.cart-size {
		margin-top: 20px;
	}

	.cart-item {
		margin: 10px 0;
		padding-bottom: 40px;
		border-bottom: 1px dotted black;
	}

}
