// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.edit-page,
.list-page,
.add-page {
	margin: 100px 0;

}

.f-bold {
	font-weight: 700;
}

.index-foot .foot p {
	color: black;
}

@mixin border {
	border: 1px solid black;
	border-radius: 10px;
	padding: 10px;
}

#dish {
	height: 20px;
}

.item-index {
	margin-top: 10px;
}

.dish-name {
	color: white;
	background: black;
	padding: 20px;
	margin: 0;
}

.items-page {
	background: white;
}

.search {
	// background: image-url("cartoon.png");
	margin-top: 81px;
	padding: 70px;
	#dish {
		margin-top: 20px;
	}
	h1 {
		font-size: 5em;
		margin: 0;
	}
	h2 {
		margin-top: 40px;
	}
}

.item-list {
	margin: 20px 0;
}

.item-image {
	border: 1px solid black;
}

.i-name {
	font-family: Impact, sans-serif;
	font-size: 1.3em;
	font-weight: 800;
}

/*********************************************
    		BOUNCE EFFECT
***********************************************/  

.bounce {
  position:relative;
  font-family: 'Anton', sans-serif;
  -webkit-animation:bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0%{
    bottom:5px;
  }
  
  25%, 75% {
    bottom:15px;
  }
  
  
  50% {
    bottom:20px;
  }
  
  100% {
    bottom:0;
  }
}

/*********************************************
    		ITEM QTY, SELECT, OPTION
***********************************************/    		


.qty {
	width: 40px;
	border-radius: 5px;
}

/*********************************************
    		IMG HOVER EFFECT
***********************************************/    		


.tooltip {
	position: relative; 
	opacity: 0; 
	color: #FFF;
	top: 10px; 
	left: 0px;
	width: 180px; 
	padding: 10px;
	border-radius: 25px; 
	-webkit-border-radius: 25px;
	background-color: rgba(0,0,30,0.5);
	-webkit-box-shadow: 0px 0px 15px 2px rgba(255,255,255,.75);
	box-shadow: 0px 0px 15px 2px rgba(255,255,255, .75);
	-webkit-transition: .5s; 
	transition: .5s;
	-webkit-transform: rotateY(180deg); 
	transform: rotateY(180deg);
}

.image-holder .tooltip:after {
	position: absolute;  
	height: 0; 
	width: 0;
	border: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 30, 0.5);
	white-space: nowrap; 
	color:#DDD;
}

.image-holder:hover .tooltip {
	opacity: 1;
	left: 20px; 
	-webkit-transform: rotateY(0deg); 
	transform: rotateY(0deg);
}


