// Place all the styles related to the orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orders-page {
	margin-top: 100px;
}

.complete-page {
	margin-top: 100px;
}

.order-index {
	margin: 10px;
	border: 1px solid black;
}

.order-span {
	color: tomato;
}

.user-info {
	border-bottom: 1px solid black;
	padding: 15px;
	font-size: 1.2em;
}

.pickup {
	display: inline-block;
	padding: 10px;
	font-size: 1.3em;
}

.complete-items {
	margin-top: 20px;
}

.complete-info {
	color: tomato;
	font-size: 2em;
}

