// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background-c {
	z-index: -99;
	position: absolute;
}

.main-banner {
	background: image-url("banner.gif") no-repeat center;
	background-size: cover;
	height: 600px;
	.o-btn {
		margin-top: 20px;
	}
}

.c-main {
	margin-top: 100px;
	color: white;
	h1 {
		font-size: 6em;
	}
}

.about-section {
	padding: 50px 0;
	background: black;
	color: white;
	h2 {
		font-size: 3em;
	}
}


