<!DOCTYPE html>
<html>
<head>
  <title>Arko Foods Market</title>
  <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
  <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="initial-scale=1.0,width=device-width,user-scalable=0" />
</head>
<body>

<%= yield %>

</body>
<script src="jquery.min.js"></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script>
	
	$(document).ready(function(){
		$(".o-btn").click(function(){
			$(".cart-link").css("color", "yellow");
		});

	});

</script>
</html>
