<!DOCTYPE html>
<html>
<head>
  <title>Arko</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
<script>
	
	$(document).ready(function(){
		$(".o-btn").click(function(){
			$(".cart-link").css("color", "yellow");
		});
	});

</script>
</html>
